*
!book_cover.jpg
!cover_1984.jpg
!cover_amor_tiempos_colera.jpg
!cover_cementerio_mascotas.jpg
!cover_cien_anos_soledad.jpg
!cover_crimen_castigo.jpg
!cover_gran_gatsby.jpg
!cover_lotr.jpg
!cover_matar_ruiseñor.jpg
!cover_mujercitas.jpg
!cover_pride_prejudice.jpg
!cover_quijote.jpg
!cover_rebelion_granja.jpg
!cover_vendetta.jpg
!cover_watchmen.jpg
!hero_1984.webp
!hero_amor_en_tiempos_de_col.webp
!hero_cementerio_animales.jpg
!hero_cien_anos_soledad.jpg
!hero_crimen_castigo.webp
!hero_gatsby.jpg
!hero_it.jpg
!hero_lotr.jpg
!hero_matar_ruiseñor.jpg
!hero_mujercitas.jpg
!hero_pride_prejudice.jpg
!hero_quijote.jpg
!hero_quijote.jpeg
!hero_rebelion_granja.jpg
!hero_vendetta.jpg
!watchmen.webp
!.gitignore
